.container {
  width: 950px;
}

body {
  
}

header {
  padding-top: 20px;
}

header img {
  padding: 1em;
  background: #fff;
}


/* Links */

a {
  color: #09c;
  text-decoration: none;
}

a:hover {
  color: #069;
  text-decoration: underline;
}

a:visited {
  color: #069;
}

/* Navigation */

nav {
  float: right;
}

nav {
  background-color: white;
  padding: 0 0.7em;
  white-space: nowrap;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

nav ul li a {
  padding: 0 5px;
  font-weight: bold;
}

nav ul li a:visited {
  color: #09c;
}

nav ul li a:hover {
  text-decoration: underline;
}

footer {
  text-align: center;
  margin-top: 10px;
  width: 100%;
  border-top:solid 1px gray;
  margin-left: auto;
  margin-right: auto;
}

.field_with_errors {
  margin-top: 10px;
  padding: 2px;
  background-color: red;
  display: table;
}

.field_with_errors label {
  color: #fff;
}

#error_explanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#error_explanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

ul.users {
  margin-top: 1em;
}

.users li {
  list-style: none;
}

ul.posts li {
  list-style: none;
  margin-bottom:20px;
  border-bottom:solid 1px #888;
}

ul.posts li article {
  margin-bottom:10px;
}

ul.posts li h1{
  padding-bottom:10px;
  margin-bottom:0px;
  font-size:175%
}

ul.posts li .timestamp {
  margin-bottom:10px;
  font-weight:bold;
}

input[type=text], textarea { 
 width:100%;
}

input[type=text].title { 
 font-size:large;
}
.sign_in_box { }
.sign_in_box input[type=text], .sign_in_box input[type=password] { width:250px; }

article { padding-bottom:20px; padding-top:20px; border-bottom: dashed 1px #efefef; }
article h1 { font-size: 200%; margin-bottom:10px;}
article time { font-weight:bold; }
section.postcontent { padding-top:10px; }

.editLink {
  background-image: url(/images/editIcon.png);
  height:38px;
  width:34px;
  display:block;
  float:right;
}

aside {   }










.twitted {
	width: 100%;
	margin-bottom: 1.5em;
	border: 1px solid #888;
}

.twitted h2 {
	margin: 0;
	padding: 0.3em 0.8em;
	font-size: 1em;
	color: #fff;
	background-color: #888;
}

.twitted p.preLoader {
	margin: 0;
	padding: 1em 1em 1em 3em;
	background: transparent url("loader.gif") 1em center no-repeat;
	/* generate your own loader gif: http://www.ajaxload.info */
}

.twitted ul#twitter_update_list {
	margin: 0;
	padding: 0 0.8em;
	list-style-type: none;
}

.twitted ul#twitter_update_list li {
	margin: 0;
	padding: 0.8em 0 1em 0;
	border-bottom: 1px solid #ccc;
}

.twitted ul#twitter_update_list li span {
	/* tweet content */
	display: block;
}

.twitted ul#twitter_update_list li span a {
	/* links in tweet content */
	color: #00f;
}

.twitted ul#twitter_update_list li a {
	/* timestamp link */
	color: #f00;
}

.twitted ul#twitter_update_list li.firstTweet {
}

.twitted ul#twitter_update_list li.lastTweet {
	border-bottom: none;
}

.twitted p.profileLink {
	display: block;
	margin: 0;
	padding: 0.3em 1em;
	color: #fff;
	background-color: #ddd;
}
