.half { width:49%; float:left;}
.rightSpace { padding-right:15px; }
.leftSpace { padding-left:5px;}
footer { height:165px; background-color:#d6d6d6; border-top:1px solid #a4a4a4; }

header { background-color:#131313; height:148px; }
header  h1 { height:125px ; width:260px; float:left; background-image: url(../../images/logoTop.png); position:relative; top:15px;  }
header h1 span { position:relative; left:-3000px; }
.impactSection { background-image: url(../../images/impactBackdrop.png); background-position:bottom; background-color: #f8fefe; border-bottom:solid 1px #b5d3d3; }
.impactSection h1 {  font-weight:600}
.impactSection  h2 { color:#111;  letter-spacing:0px; line-height:23px; font-size:175%}

header nav ul {list-style:none; float:right; position:relative; top:5px; left:10px; }
header nav ul li { list-style:none; float:left; padding-left: 50px; padding-right:20px; } 
header nav ul li  a{ color:white; font-weight:bold; text-decoration:none; font-size:200% }
header nav ul li  a:hover {color: #5b8614; }
h2 { color: #5b8614; }

.standardpadding { padding-top:20px; }
.paddingbottom { padding-bottom:20px; }
.nopadding { padding-bottom:0; }

.profilelinks { list-style:none; float:right; margin-top:5px; }
.profilelinks li { float:left; margin-right:10px; margin-left:10px; }
.profilelinks li a { color:white; text-decoration:none; }



.twitted {
	width: 100%;
	margin-bottom: 1.5em;
	border: 1px solid #888;
}

.twitted h2 {
	margin: 0;
	padding: 0.3em 0.8em;
	font-size: 1em;
	color: #fff;
	background-color: #888;
}

.twitted p.preLoader {
	margin: 0;
	padding: 1em 1em 1em 3em;
	background: transparent url("loader.gif") 1em center no-repeat;
	/* generate your own loader gif: http://www.ajaxload.info */
}

.twitted ul#twitter_update_list {
	margin: 0;
	padding: 0 0.8em;
	list-style-type: none;
}

.twitted ul#twitter_update_list li {
	margin: 0;
	padding: 0.8em 0 1em 0;
	border-bottom: 1px solid #ccc;
}

.twitted ul#twitter_update_list li span {
	/* tweet content */
	display: block;
}

.twitted ul#twitter_update_list li span a {
	/* links in tweet content */
	color: #00f;
}

.twitted ul#twitter_update_list li a {
	/* timestamp link */
	color: #f00;
}

.twitted ul#twitter_update_list li.firstTweet {
}

.twitted ul#twitter_update_list li.lastTweet {
	border-bottom: none;
}

.twitted p.profileLink {
	display: block;
	margin: 0;
	padding: 0.3em 1em;
	color: #fff;
	background-color: #ddd;
}


ul.users { margin:0; padding:0;}
.users li {
  list-style: none;
  margin:0; padding:0 0 10px 0; 
}
.gravatar { border:solid 1px #dedede; float:left; margin-right:4px; margin-bottom:4px; }
.deletelink { float:right; }
a.usertitle { text-decoration:none; font-weight:bold }

input[type=text], textarea {width:100%}
input[type=text].title { 
 font-size:large;
}
.sign_in_box { }
.sign_in_box input[type=text], .sign_in_box input[type=password] { width:250px; }

article { padding-bottom:20px;  border-bottom: dashed 1px #efefef; margin-bottom:10px; }
article h1 { font-size: 200%; margin-bottom:5px;}
article h1 a { text-decoration:none; color:#5b8614; }
article time { font-weight:bold; padding-bottom:10px; display:block }
section.postcontent { padding-top:10px; }


.editLink {
  background-image: url(/images/editIcon.png);
  height:38px;
  width:34px;
  display:block;
  float:right;
}



.field_with_errors input {
  border:solid 1px red;
}

.field_with_errors label {

}

#error_explanation {

}

#error_explanation h2 {
  font-weight: bold;
  color: #c00;
  display:none;
}

#error_explanation p {
  color: #333;
  margin-bottom: 0;
}

#error_explanation ul li {
  font-size: 12px;
  color: #c00;

}
