<h1>
<%= gravatar_for user, :size => 40 %>
<%= user.name %></h1>

	<%= simple_format user.description %>


<% if !user.twitter_name.nil? %>
	<div id="twitter">
	
	</div>
<% end %>

<script src="/javascripts/jquery.twitter.js" type="text/javascript"></script>
<script type="text/javascript"> 
			$(document).ready(function() {
				$("#twitter").getTwitter({
					userName: "slarty_bartfast",
					numTweets: 5,
					loaderText: "Loading tweets...",
					slideIn: true,
					slideDuration: 750,
					showHeading: true,
					headingText: "Latest Tweets",
					showProfileLink: true,
					showTimestamp: true
				});
			});
		</script>

