<li class="clear">
  <%= gravatar_for user, {:size => 50} %>
  <%= link_to user.name, user, :class => "usertitle" %>
<% if !current_user.nil? %>
  <% if current_user.admin? %>
	<%= link_to "Delete", { :action => "destroy", :id => user }, :confirm => "Are you sure?",
	 					    :title => "Delete #{user.name}", :method => :delete, :class =>"deletelink" %>
  <% end %>
<% end %>
  <div>
	<%= simple_format user.description %>
  </div>
</li>