<li>
  <%= gravatar_for user, :size => 30 %>
  <%= link_to user.name, user %>
  <% if !current_user.nil? %>
  <% if current_user.admin? %>
	<%= link_to "Delete", { :action => "destroy", :id => user }, :confirm => "Are you sure?",
	 							:title => "Delete #{user.name}" %>
  <% end %>
  <% end %>
</li>