<section class="container paddingbottom standardpadding">

<div class="largeSection span-15">
	<% unless @posts.empty? %>	

		<%= render @posts %>
<%= will_paginate @posts, :param_name => 'posts_page' %>
	<% end %>
</div>

<aside class="span-9 last">
<h1>Blog roll</h1>

<ul class="users clear">
  <% @users.each do |user| %>
    <%= render user %>
  <% end %>
</ul>
<%= will_paginate @users, :param_name => 'users_page' %>
</aside>
</section>