<section class="container paddingbottom standardpadding">

<div>
	
</div>

<aside class="span-9 last">
<h1>Blog roll</h1>

<%= will_paginate %>
<ul class="users">
  <% @users.each do |user| %>
    <%= render user %>
  <% end %>
</ul>
<%= will_paginate %>
<aside>
</section>