<div class="container paddingbottom standardpadding">

    <div class="span-15" id="user-details">
        <%= form_tag :action => 'sendmail' do %>
         <h1>Send us a message</h1>
         <fieldset>
            <label for="name">Name:</label>
            <input type="text" name="name" value="" />

            <label for="email">Email:</label>
            <input type="email" name="email" value=""  />

            <label for="phone">Phone:</label>
            <input type="text" name="phone" value=""  />

            <label for="message">Your Message:</label>
            <textarea name="message" rows="0" cols="0"></textarea>

            <input type="submit" value="Send Message" name="submit" class="awesome" />

         </fieldset>

        <% end %>
    </div>

    <aside class="span-9 last">
      	<div id="twitter">

	    </div>
      
      <div>
      <h2>Postal Address</h2>
      <strong>19 Moorland Close, <br/>
      Moortown, <br/>
      Leeds, <br/>
      LS17 6JR</strong>
      </div>

      <div>
      <h2>Email</h2>
        <strong>
          <a href="mailto:hello@decoratedworld.co.uk">hello@decoratedworld.co.uk</a>
        </strong>
      </div>

      <div>
      <h2>Phone</h2>
        <strong>
            +44 (0)113 393008<br/>
            +44 (0)7530 611852
        </strong>
      </div>

    </aside>

  <script src="/javascripts/jquery.twitter.js" type="text/javascript"></script>
  <script type="text/javascript">
              $(document).ready(function() {
                  $("#twitter").getTwitter({
                      userName: "DecoratedWorld",
                      numTweets: 5,
                      loaderText: "Loading tweets...",
                      slideIn: true,
                      slideDuration: 750,
                      showHeading: true,
                      headingText: "Latest Tweets",
                      showProfileLink: true,
                      showTimestamp: true
                  });



                $('form').validate({
                    rules: {
                                "email": "required",
                                "message": "required"
                            },
                    messages: {
                                "email": "Email address required",
                                "message":"Message required"
                            }
                });


              });
          </script>




</div>