<section class="impactSection standardpadding paddingbottom">
<div class="container"> 
	<div class="span-8">
		<h1>
			Great web and mobile apps.
		</h1>
		<h2>
			I help organisations realise their web and mobile ambitions by creating great looking, easy to use web and mobile applications within budget and on time.
		</h2>
		<p>
			I can help with contracted consulting on-site to help you create a system, or assist you in creating and implementing a system from concept through to live application.
		</p>
		<p>
			Get in touch now to find out how I can help you today.
		</p>
		<%= link_to "Get in touch", contact_path, :class => "butGetInTouch" %>
	</div>
	<div class="span-16 last">
		<img src="/images/cm.png" alt="Caddy Magic screen shot" style="margin-left:90px;">
	</div>
</div>
</section>

<div class="container standardpadding paddingbottom">
<section class="half rightSpace">
	<h1>
		Our Services
	</h1>
	<section>
		<h2>
			Web and Mobile Applications
		</h2>
		<p>
			With over 10 years working the internet, we really know our stuff when it comes to the world of the web.
		</p>
		<p>
			Our experience covers a great deal of areas - from some of the largest and most successful e-commerce sites, to social apps and financial software.
		</p>
		<p class="nopadding">
			<%= link_to "Contact us", contact_path %>  for a chat about your ideas, and how we can help.
		</p>
	</section>
	<section>
		<h2>
			Development Consultancy
		</h2>
		<p>
			Whether you need a solution designed and built, or you need someone to come on-site for period of time to help you realise your project, we can help.
		</p>
		
	</section>

</section>

<section class="half leftSpace">
	<h1>
		On the blog...
	</h1>
<%	@blogposts.each do |post|  %>
	<section>
		<h2 class="h2link">
		 	<%= link_to post.title,  {:controller => "posts", :action => "show", :id => post.id } %>
		</h2>
		<p>
			<%= post.slug %>
		</p>
	</section>
<% end %>
</section>
</div>