<section class="impactSection standardpadding paddingbottom">
<div class="container"> 
	<div class="span-8">
		<h1>
			We build great web applications
		</h1>
		<h2>
			We help companies realize their web ambitions by creating great looking, easy to use web applications within budget and on time.
		</h2>
		<p>
			We are expert developers, project managers and usabilty folks with a whole lot of passion and flair.
		</p>
		<p>
			Get in touch now to find out how our team can help you today.
		</p>
		<%= link_to "Get in touch", contact_path, :class => "butGetInTouch" %>
	</div>
	<div class="span-16 last">
		<img src="/images/cm.png" alt="Caddy Magic screen shot" style="margin-left:90px;">
	</div>
</div>
</section>

<div class="container standardpadding paddingbottom">
<section class="half rightSpace">
	<h1>
		Our Services
	</h1>
	<section>
		<h2>
			Web applications
		</h2>
		<p>
			With over 10 years working the internet, we really know our stuff when it comes to the world of the web.
		</p>
		<p>
			Our experience covers a great deal of areas - from some of the largest and most successful e-commerce sites, to social apps and financial software.
		</p>
	</section>
	<section>
		<h2>
			Mobile apps
		</h2>
		<p>
			With iPhone and Android phones turning up in everbody's pockets, we believe the time is right for you to take advantage of this exciting new market place.
		</p>
		<p class="nopadding">
			Get in touch to see how we can help...
		</p>
	</section>

</section>

<section class="half leftSpace">
	<h1>
		On the blog...
	</h1>
	<section>
		<h2>
			Blog title
		</h2>
		<p>
			Blog slug
		</p>
	</section>

</section>
</div>