<div class="container paddingbottom standardpadding">
<section class="half">
<div style="margin-right:15px;">
<h1>Web development</h1>
<p>
	We build web applications with stunning results. From e-commerce sites and social applications to complex financial management apps, we have experience in many areas of web creation.
</p>
<p>
	If you know what you want, we can build it for you on time and in budget.  If you're unsure, we can use our years of experience building for the web to help you find an elegant solution to your problem.
</p>
<h2>
	Analytics baked in from the start
</h2>
<img src="/images/analytics.png" alt="Google analytics" style="float:right; margin:5px;" />
<p>
	We understand how important it is to have insight into how your customers are using your web properties. 
</p>
<p>
	With this in mind, all of our web based solutions come with the powerful Google Analytics system built in from the start. We can help you understand exactly who is using your site and how. 
</p>
<h2>
	Natural Search Engine Optimisation
</h2>
<p>
	Our clean designs and use of semantic HTML5 means not only will your application be accessible, with the best chance of working on as many devices as possible, it also comes with the best chance of top results on Google's search listings.
</p>
<p>
	If you need to get more from the search engines, we can help you set up effective pay per click campaigns and link them with your site analytics, so you can see exactly how your investment is paying you back.
</p>
</div>
</section>
<div style="margin-left:15px;">
<section>
	
		<img src="/images/buzzstop.png" alt="Mobile development" style="float:right;  margin:5px;" />
	<h1>Mobile apps</h1>
	
	<p>
		With iPhone and Android phones turning up in everbody's pockets, we believe the time is right for you to take advantage of this exciting new market place.
	</p>
	<p>
		Whether you're after a web based solution, that will work on everyone's phones, or you need a native solution for Android, iPhone, Windows 7 or Blackberry, we have the skills to help you achieve your vision.
	</p>
	<img src="/images/mobileLogos.png" alt="mobile logos" />

</section>

<section style="margin-top:20px;">
	<h1>Get a quote</h1>
</section>

</div>
</div>

