<li class="post">
	<article>
		<h1><%= link_to post.title, post_path(post) %></h1>
		<div class="timestamp"><%= time_ago_in_words(post.created_at) %> ago.</div>
		<div class="postcontent"><%= post.content %></div>
	</article>
</li>